<% layout('/layouts/boilerplate')%>
<h1>Edit Gym</h1>
<form action="/gyms/<%=gym._id%>?_method=PUT" method="POST">
    <div>
        <label for="name"> Name </label>
        <input type="text" id="name" name="gym[name]" value="<%=gym.name%>">
    </div>
    <div>
        <label for="location"> Full Adress </label>
        <input type="text" id="location" name="gym[address.streetName]" value="<%=gym.address.streetName%>">
    </div>
    <div>
        <label for="location"> Owner Name </label>
        <input type="text" id="location" name="gym[owner]">
    </div>
    <button>Update Gym</button>
</form>
<a href="/gyms/<%=gym._id%>">Back to Gym</a>
