<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gyms</title>
</head>
<body>
    <h1>All Gyms</h1>
    <div>
    <a href="/gyms/new">Insert new Gym</a>
    </div>
    <ul>
        <% for (let gym of allGyms){ %>
        <li><a href="/gyms/<%= gym._id%>"><%= gym.name%></a></li>
        <%}%>
    </ul>
</body>
</html>
