<% layout('/layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center"> New Gym</h1>
    <div class="col-6 offset-3">
        <form action="/gyms" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label"> Name </label>
                <input type="text" class="form-control" id="name" name="gym[name]" required>
            </div>
            <div class="mb-3">
                <label for="street-name" class="form-label"> Full Address </label>
                <input  id="street-name" type="text" class="form-control" name="gym[address.streetName]" required>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label"> City </label>
                <select id="location" class="form-select" name="gym[address.city]" required>
                    <option value="">Choose City</option>
                    <option value="Riyadh">Riyadh</option>
                    <option value="Jeddah">Jeddah</option>
                    <option value="Makkah">Makkah</option>
                    <option value="Dammam">Dammam</option>
                    <option value="Medina">Medina</option>
                    <option value="Taif">Taif</option>
                    <option value="Al-Kharj">Al-Kharj</option>
                    <option value="Buraidah">Buraidah</option>
                    <option value="Abha">Abha</option>
                    <option value="Tabuk">Tabuk</option>
                    <option value="Al-Hufuf">Al-Hufuf</option>
                    <option value="Al-Baha">Al-Baha</option>
                    <option value="Jubail">Jubail</option>
                    <option value="Najran">Najran</option>
                    <option value="Khamis Mushait">Khamis Mushait</option>
                    <option value="Al-Ahsa">Al-Ahsa</option>
                    <option value="Khobar">Khobar</option>
                    <option value="Hail">Hail</option>
                    <option value="Yanbu">Yanbu</option>
                </select>
              </div>
            <div class="mb-3">
                <!-- TODO Implement wokring hours selection feature -->
                <label for="hours" class="form-label"> Hours of Operation [WIP!!!!] </label>
                <select id="hours" class="form-select" name="gym[hours]" required>
                    <option value="">Choose Working Hours </option>
                    <option value="6AM to 11PM">6AM to 11PM</option>
                    <option value="10AM to 4AM">10AM to 4AM</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="contact-number" class="form-label"> Contact Number</label>
                <input id="owner-name" type="text" class="form-control" name="gym[address.contactNumber]" required>
            </div>
            <input type="file" name="image" id="" multiple>
<!--            <div class="div mb-3">-->
<!--                <label for="image" class="form-label"> Gym Image URL </label>-->
<!--                <input type="text" class="form-control" id="image" name="gym[image]" required>-->
<!--            </div>-->
            <hr class="border border-secondary border-1 opacity-75">
            <div class="mb-3">
                <label for="owner-name" class="form-label"> Owner Name </label>
                <input id="owner-name" type="text" class="form-control" name="gym[owner.name]" required>
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label"> Owner Phone Number </label>
                <input type="tel" class="form-control" id="phone" name="gym[phone]" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label"> Owner Email </label>
                <input type="email" class="form-control" id="email" name="gym[email]" required>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Gym</button>
            </div>
        </form>
        <a href="/gyms"> All Gyms</a>
    </div>
</div>


